html,
body,
body > div:first-child,
div#__next,
div#__next > div,
div#__next > div > div {
  height: 100%;
  align-items: stretch;
}

body {
  touch-action: manipulation;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  font-family: Quicksand;
}

html {
  height: -webkit-fill-available;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

@font-face {
  font-family: "Quicksand";
  font-style: regular;
  font-weight: 400;
  font-display: swap;
  src: local("Quicksand"),
    url(/fonts/Quicksand/static/Quicksand-Regular.ttf) format("ttf");
}
