@font-face {
  font-family: "Quicksand";
  font-style: regular;
  font-weight: 400;
  font-display: swap;
  src: local("Quicksand"),
    url(/fonts/Quicksand/static/Quicksand-Regular.ttf) format("ttf");
}
