/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
input[type="text"] {
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Then Style */
  border-radius: 15px;
  border: 1px dashed #bbb;
  padding: 10px;
  line-height: 20px;
  text-align: center;
  background: transparent;
  outline: none;
}
@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
}

.menu-close-start {
  background-position-x: 0px;
}
.menu-close-end {
  background-position-x: -420px;
}
.menu-close-start-animation {
  animation: animation_menu_close 0.5s steps(14) normal;
}

.menu-close-end-animation {
  animation: animation_menu_close 0.5s steps(14) reverse;
}

@keyframes animation_menu_close {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -420px;
  }
}

.header-expand-start {
  height: 50px;
}

.header-expand-end {
  height: 100%;
}
.header-expand-start-animation {
  animation: animation_header_expand 0.5s normal;
  animation-timing-function: linear;
}
.header-expand-end-animation {
  animation: animation_header_expand 0.5s reverse;
  animation-timing-function: linear;
}

@keyframes animation_header_expand {
  0% {
    height: 50px;
  }
  20% {
    height: 100px;
  }
  100% {
    height: 100%;
  }
}

.menu-start {
  opacity: 0;
}

.menu-end {
  opacity: 1;
}
.menu-start-animation {
  animation: animation_menu 0.7s normal;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}
.menu-end-animation {
  animation: animation_menu_reverse 0.7s normal;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

@keyframes animation_menu {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animation_menu_reverse {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.line-start {
  padding-top: 50px;
}
.line-end {
  padding-top: 100px;
}

.line-start-animation {
  animation: animation_line 0.5s normal;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}
.line-end-animation {
  animation: animation_line_reverse 0.5s normal;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1);
}

@keyframes animation_line {
  0% {
    padding-top: 50px;
  }

  20% {
    padding-top: 100px;
  }

  100% {
    padding-top: 100px;
  }
}

@keyframes animation_line_reverse {
  0% {
    padding-top: 100px;
  }

  80% {
    padding-top: 100px;
  }

  100% {
    padding-top: 50px;
  }
}

.error-animation {
  animation: animation-error 0.5s normal;
  animation-timing-function: ease;
}

@keyframes animation-error {
  10% {
    left: 5px;
  }

  20% {
    left: 0px;
  }

  30% {
    left: -5px;
  }

  40% {
    left: 0px;
  }

  50% {
    left: 5px;
  }

  60% {
    left: 0px;
  }

  70% {
    left: -5px;
  }

  80% {
    left: 0px;
  }

  90% {
    left: 5px;
  }

  100% {
    left: 0px;
  }
}
